<ion-content>
<ion-fab vertical="Top" horizontal="start">
    <ion-fab-button>
      <ion-icon routerLink="/dashboard" name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h1>Cart</h1>

  <ion-card>
    <img alt="quesadilla-logo" src="assets/KU CHI TEA MENU/KU CHI SNACKS/kuchibeefquesadilla.png" />
    <ion-card-header>
      <ion-card-title>Ku Chi Beef Quesadilla</ion-card-title>
      <ion-card-subtitle>from PHP 149</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Mexican-style tortilla loaded with authentic Mexican fillings
    </ion-card-content>
    <ion-button routerLink="/cart">Place Order</ion-button>
  </ion-card>

  <ion-card>
    <img alt="butterscotch-logo" src="assets/KU CHI TEA MENU/FRAPPUCCINO/butterscotchcoffee.png" />
    <ion-card-header>
      <ion-card-title> Butterscotch Coffee </ion-card-title>
      <ion-card-subtitle> from PHP 150</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Espresso made with brown sugar, caramel and milk
    </ion-card-content>
    <ion-button routerLink="/cart">Place Order</ion-button>
  </ion-card>
  